BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
ColumnLimit: 80

AccessModifierOffset: -2

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

# Style choices
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
IndentPPDirectives: BeforeHash

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<([A-Za-z0-9\Q/-_\E])+>'
    Priority: 4
  - Regex: '<(catch2|boost)\/'
    Priority: 3
  - Regex: '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority: 2
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 1

# If true, empty lines at the start of blocks are kept.
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
Cpp11BracedListStyle: true
# If true, always break after the template<...> of a template declaration.
AlwaysBreakTemplateDeclarations: true
# If false, a function declaration's or function definition's parameters will
# either all be on the same line or will have one line each.
BinPackArguments: true
BreakConstructorInitializersBeforeComma: true
# The maximum number of consecutive empty lines to keep.
MaxEmptyLinesToKeep: 1
