[build-system]
# Should be mirrored in requirements-build.txt
requires = [
    "packaging",
    "setuptools >= 49.4.0",
    "torch == 2.4.0",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.ruff]
# Allow lines to be as long as 80.
line-length = 120
exclude = [
    # External file, leaving license intact
]
include = ["*.py"]

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    # "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    # "I",
    "G",
]
ignore = [
    # star imports
    "F405", "F403",
    # lambda expression assignment
    "E731",
    # Loop control variable not used within loop body
    "B007",
    # f-string format
    "UP032",
]


[tool.codespell]
ignore-words-list = "ist"
skip = "./VPTQ_arixv.pdf,./build"

[tool.isort]
use_parentheses = true
skip_gitignore = true
